@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Ubuntu', sans-serif,
    monospace;
}

* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

html,
body {
    text-align: center;
    position: relative;
    min-height: 100vh;
    color: white;
    min-width: 470px;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-size: 100%;
    background-attachment: fixed;
    background-image: url("../img/background-current.png");
    background-color:black;
}

@media (max-width: 670px) {
    body {
        background-size: cover;
        background-position: center;
    }
}

.overlay {
    opacity: 0.91;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    position: fixed;
    height: 100%;
    width: 100%;
}

.loader {
    background-color: rgba(5, 5, 5, 0.80) ;
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
}

#mNav a.active{
    border-bottom: 1px solid white;
}

#links-1 a.active{
    border-bottom: 1px solid white;
}