.page-content {
  padding: 15px;
  border-radius: 10px;
  margin: 50px 25px;
  margin-bottom: 400px;
  text-align: left;
  color: #afafaf;
}
#cards .tile .content .buyButton{
  max-width: 270px;
  font-size: 15px;
  font-weight: bold;
  background-color: #0C2B80;
  text-transform: uppercase;
padding: 15px;
}
#cards .tile .content .buyButton:hover{
  transform: scale(.9);
}
.page-content .heading {
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(88, 88, 88, 0.322);
  padding-bottom: 20px;
  display: inline-block;
}
.page-content p{
  color: rgba(255, 255, 255, 0.48);
  font-size: 16px;
}
#cards{
  flex-wrap: nowrap;
  padding: 0 15px;
}
#cards .product-tile {
  flex-direction: column;
  min-width: unset;
  max-width:363px;
  width: 100%;
  margin: 0;
}
#cards .tile .content{
  background-color:#090909;
}

#cards .tile .content ul li{
  border-color: rgba(135, 135, 135, 0.06);

}
#cards cardjs{
  width: 100%;
  margin: 10px;
}

#cards .product-tile .content {
  width: 100%;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.7803921568627451);
}
#cards .product-tile .content ul li{
  font-size: 15px;
}
.tester{
  position: relative;
}
.tester #back-home {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  text-decoration: none;
  font-size: 22px;
}
.tester .service-title {
  padding: 10px 0;
}
.tester .service-title h1 {
  display: inline-block;
  margin: auto;
  padding: 20px;
  font-size: 33px;
  border-bottom: 1px solid rgba(88, 88, 88, 0.322);
}
.tester .notiMessage {
  background: none;
}
.tester .description-boxes {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
}

.tester .description {
  background-color: #090909;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  font-size: 15px;
  max-width: 320px;
  min-width: 300px;
}


@media screen and (max-width:870px){
  #cards{
    flex-wrap:wrap;
  }
  #cards cardjs{
    max-width: 350px;
  }
  
  .tester .description-boxes{
    display: block;
  }
  .tester .description {
    margin:10px auto;
  }
}
.tester .description .heading {
  margin-bottom: 5px;
  font-weight: bold;
  margin: 5px 0;
  margin-top: 15px;
  font-size: 20px;
  margin: 25px auto;
  color: rgba(255, 255, 255, 0.94);
}
.tester .description .text-content {
  color: #afafaf;
}
.tester .description .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  margin-right: 20px;
}

.tester .description .icon .fab {
  font-size: 50px;
}
